* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

  .__container-carousel .carousel-inner .carousel-item {
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-position: center;

  }
  
  
  .__container-carousel .carousel-inner .carousel-item.slide1 {
    background-image: url("../img/imagen1.jpg");
    min-height: 40vh;
  }
  
  .__container-carousel .carousel-inner .carousel-item.slide2 {
    background-image: url("../img/imagen2.jpg");
    min-height: 40vh;
  }
  
  .__container-carousel .carousel-inner .carousel-item.slide3 {
    background-image: url("../img/imagen3.jpg");
    min-height: 40vh;

  }
  .section1{
    background-color: aqua;
    display:flex;
    flex-direction:column;
  }
  .article1, .article2, .article3{
    background-color:red;
    widows: 60%;
    height:20%;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;

  }
  


  

