* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

  .__container-carousel .carousel-inner .carousel-item img {
    height:100vw;

  }
  body{
    background-color: black;
  }
  
  .section1{
    background-image: url(../img/thumb-1920-549939.jpg);
    display:flex;
    flex-direction:column;
    align-items: center;
    background-size: cover;
    padding: 10px;
    margin-top: 40px;
    
  }
  .section1 article{
    background-color: #111111;
    margin: 20px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(73, 5, 5, 0.637), 0 6px 20px 0 rgba(90, 3, 3, 0.651)

  }

   img{
     width: 100%;
   }
  .section1 p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 5px;
    color: #999999;
  }
  .section2 article img{
    height: 90vw;
    
  }
  /* ---------------------------Cambios NavBar------------------------------ */
  .bg_negro {
    background-color: #000!important;
}

@media(min-width: 576px){
  .__container-carousel .carousel-inner .carousel-item img {
    height:60vw;
    

  }
  .section1 article{
    max-width: 90%;
  }
  .section2 article img{
    height: 55vw;
    
  }

}
  
@media (min-width: 768px){
  .section1{
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }
  .section1 article{
    margin:28px;
    max-width: 50%;
  }
  .__container-carousel .carousel-inner .carousel-item img {
    height:50vw;

  }
  .section2 article img{
    height: 35vw;
    
  }
}
@media (min-width: 992px){
  .__container-carousel .carousel-inner .carousel-item img {
    height:40vw;

  }
 
  .section1 article{
    margin:38px;
  }
  .section2 article img{
    height: 25vw;
    
  }
}
@media (min-width: 1200px){
  .__container-carousel .carousel-inner .carousel-item img {
    height:35vw;


  }
  .section1 article{
    margin:46px;
  }
  .section2 article img{
    height: 25vw;
    
  }
} 
