*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: black;
    color: #c7c7c7;
    font-family: 'neutra-bookalt';
}
@font-face{
    font-family:'neutra-bookalt';
    src: url('../fonts/neutra/NEUTRATEXT-BOOKALT.OTF') format('opentype'); 
 }
@font-face{
	font-family: 'amethyst'; 
	src: url('Fonts/Amethyst/Amethyst.ttf') format('truetype'); 
}   
@font-face{
	font-family: 'futura'; 
	src: url('Fonts/Futura/FuturaStd-Light.otf') format('opentype'); 
}
article{background-color:black;
    flex-direction: column;
    margin-top: 0em;
    padding: 1em;
    border: solid;
    border-width: 1px;
    border-color: #9033A8;
    font-weight: bolder;
    /*box-shadow: 0.2em 0em 0.8em 0.08em #00FFFF;*/
}

.send{
        border-color: #9033A8;
        color: #9033A8;
    }
.send:hover{
        background-color: black;
        border-radius: 15%;
        color: white;
    }
.edit .form-control{
        border-top:none;
        border-left: none;
        border-right: none;
        background-color: black;
        color: white;
    }
    
.edit .form-control:focus{
        border-top:none;
        border-left: none;
        border-right: none;
        border-color: #9033A8;
        box-shadow: none;
    }

.logo1{
    display: flex;
    justify-content: center;
}
.logo1 img{
    height:15vw;
}
    

hr { 
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.1em;
    border-color: #9033A8;
  }
.cuenta a{
    color: #c7c7c7;
}
small a{color: #c7c7c7;}
small p{color: #c7c7c7;}


.logo img{
    height: 60vw;  
}
.logo{
    display: flex;
    justify-content: center;
}
@media (min-width:768px){
    .edit .logo img{
        height: 30vw;
    }
}
@media(min-width:1024px){
    .edit .logo img{
        height: 20vw;
    }
}
@media(min-width:500px){
    .logo img{
       height: 40vw;
   }
}

.logo img:hover{
    opacity: 0.7;
}

.errores{
    color: red;
}