*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
body{
    background-color: black;
    color: #c7c7c7;
}
@font-face{
	font-family: 'amethyst'; 
	src: url('Fonts/Amethyst/Amethyst.ttf') format('truetype'); 
}   
@font-face{
	font-family: 'futura'; 
	src: url('Fonts/Futura/FuturaStd-Light.otf') format('opentype'); 
}
.sectionmain{
    background-color: #272727;
    margin-top: 1em;
}
h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 35px;
}
hr { 
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.1em;
    border-color: black;
    }

section button{
    border: none;
    background-color: rgba(000, 000, 000, 0.0);
}
/* ----------------Cambios navBAR-------------*/
form a{
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: buttonface;
    border-image: initial;
}  
form a:hover{
    color: buttontext;
    box-shadow: 0.1em 0em 0.5em 0.07em #00FFFF;
    }
form button:hover{
    box-shadow: 0em 0em 0.5em 0.07em #00FFFF;
    }
.dropdown-menu{
      background-color: black;
    }
.bg_negro {
    background-color: #000!important;
    }
    
.button {
     border-width: 9px;
     border-style: solid;
     margin: 3px;
     }
    
.dropdown-item{
    background: black;
    color: white;
    }
