*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: black;
    color: #c7c7c7;
    font-family: 'Neutra-demialt';
}
@font-face{
	font-family: 'amethyst'; 
	src: url('Fonts/Amethyst/Amethyst.ttf') format('truetype'); 
}   
@font-face{
	font-family: 'futura'; 
	src: url('Fonts/Futura/FuturaStd-Light.otf') format('opentype'); 
}
article{background-color:#272727;
    flex-direction: column;
    margin-top: 0em;
    padding: 1em;
    border: 1em;
    font-weight: bolder;
    box-shadow: 0.2em 0em 0.8em 0.08em #00FFFF;}
hr { 
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.1em;
    border-color: black;
  }
.cuenta a{
    color: #c7c7c7;
}
small a{color: #c7c7c7;}
small p{color: #c7c7c7;}


.logo img{
    height: 60vw;  
}
.logo{
    display: flex;
    justify-content: center;
}
@media (min-width:768px){
    .logo img{
        height: 30vw;
    }
}
@media(min-width:1024px){
    .logo img{
        height: 14vw;
    }
}